<div id="<%= dom_id prospect %>">
  <p>
    <strong>Email:</strong>
    <%= prospect.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= prospect.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= prospect.phone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= prospect.status %>
  </p>

  <p>
    <strong>Entered by:</strong>
    <%= prospect.entered_by %>
  </p>

</div>
