
<h1 style="display: inline-block;">Prospectos</h1><h2 style="display: inline-block;">&nbsp;| <%= link_to "Ingresar nuevo prospecto", new_prospect_path %></h2>
<br><br>

<div id="prospects" class="container">
<h2>Contador por estado</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Prospectos</th>
      <th scope="col">Interesados</th>
      <th scope="col">Clientes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @prospects.where(:status => 'prospecto').count%></td>
      <td><%= @prospects.where(:status => 'interesado').count%></td>
      <td><%= @prospects.where(:status => 'cliente').count%></td>
    </tr>
  </tbody>
</table>

<h2>Listado</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Nombre</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Estado</th>
      <th scope="col">Ingresado por</th>
      <th scope="col">Fecha de ingreso</th>
      <th scope="col">Conversaciones</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @prospects.each do |prospect| %>
    <tr>
      <th scope="row"><%=prospect.id%> </th>
      <td><%=prospect.email%></td>
      <td><%=prospect.name%></td>
      <td><%=prospect.phone%></td>
      <td><%=prospect.status%></td>
      <td><%=prospect.entered_by%></td>
      <td><%=prospect.created_at.strftime("%d/%m/%Y")%></td>
      <td><%=prospect.comments.count%></td>
      <td><%= link_to "Ver", prospect %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
